*.pyc
__pycache__/


node_modules


dist
.idea
.claude
CLAUDE.md

backend/.conda
backend/.venv
backend/app/credential/credential.json

sys_vue/node_modules
sys_vue/dist
sys_electron/node_modules
sys_electron/dist
sys_electron/release
